<app-navigation></app-navigation>
<div class="nestedContainer">
  <div *ngFor="let number of numbers; let i = index">
    <div
      *ngIf="i !== 10"
      class="innerDiv"
      [ngStyle]="{
        height: getHeight(i) + 'rem',
        width: getWidth(i) + '%',
        top: getTop(i) + 'rem',
        left: getLeft(i) + 'rem'
      }"
    ></div>
    <div
      *ngIf="i === 10"
      class="innerDiv"
      [ngStyle]="{
        height: getHeight(i) + 'rem',
        width: getWidth(i) + '%',
        top: getTop(i) + 'rem',
        left: getLeft(i) + 'rem'
      }"
    >
      <span class="innerDiv_animation">{{ text }}</span>
    </div>
  </div>
</div>
