.forms {
  position: relative;
  top: 3rem;
}

.buttonStyle {
  position: relative;
  top: 5rem;
}

.pauseContent {
  position: relative;
  top: 8rem;
  height: 12rem;
  overflow-y: scroll;
  border-top: 1px solid #e4e4e4;
}