<app-navigation></app-navigation>
<hr class="divider mt-0 mb-0" />
<section class="section">
  <div class="container">
    <h1 class="title is-size-3 has-text-grey is-family-secondary mb-5">
      Timer [I/O Decorator]
    </h1>
  </div>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">Gauge</p>
            <hr class="divider mt-0" />
            <app-forms
              (emitTimerValue)="setTimerLimit($event)"
              (emitStartCount)="setStartCount($event)"
              (emitPausedCount)="setPausedCount($event)"
              (emitStartTime)="setStartTime($event)"
              (emitResetStartLogs)="resetStartLogs($event)"
            ></app-forms>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">Display</p>
            <hr class="divider mt-0" />
            <app-display [timerLimit]="timerLimit"></app-display>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile box is-child">
          <p class="title">Counter</p>
          <hr class="divider mt-0" />
          <app-counter-status
            [startCount]="startCount"
            [pausedCount]="pausedCount"
          ></app-counter-status>
        </div>
        <div class="tile box is-child">
          <p class="title">Controller</p>
          <hr class="divider mt-0" />
          <app-logger
            [startTime]="startTime"
            [resetStartLog]="resetStartLog"
          ></app-logger>
        </div>
      </div>
    </div>
  </div>
</section>
