<div *ngFor="let product of products" class="column is-6">
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            src="{{ product.image }}"
            alt="{{ product.product_name }}"
            style="height: 64px; object-fit: cover;"
          />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ product.product_name }}</strong> -
            <small>₹ {{ product.price }}</small>
            <br />
            {{ product.description }}.
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
